h1 {
    text-align: center;
    padding: 50px 0 0 0;
}

.boardContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 456px;
    height: 456px;
}

.cell {
    font-size: 100px;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
}