body {
    font-family: 'Fredoka One', cursive;
}

/* Title */
h1 {
    -webkit-text-stroke: 1px black;
    font-size: 6rem;
    text-align: center;
    padding: 0;
    margin: 40px 0;
}

.tic, .toe {
    color: #BDD7EE;
}

.tac {
    color: #C5E0B4
}

/* Content Body */
.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

/* Player Info */
.playersContainer {
    display: flex;
    width: 300px;
    height: 300px;
    margin:  0 30px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.playerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 20px;
}

.display {
    text-align: center;
    width: 200px;
    height: 40px;
    margin: 0 0 15px 0;
}

.player1, .player2 {
    width: 100%;
    height: 50px;
    border: 2px solid black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 7px;
    margin: 0 0 0 40px;
}

.player1 {
    background-color: #DEEBF7;
}

.player2 {
    background-color: #E1EFD9;
}

.arrowLeft1, .arrowLeft2 {
    height: 10px;
    width: 10px;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrowLeft2 {
    visibility: hidden;
}

/* Buttons */

.btns {
    width: 100%;
    height: 100px;
    font-size: 15px;
    margin: 0 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

button {
    font-family: inherit;
}

#restartBtn, .changeNameBtn {
    border: solid 2px black;
    background-color: white;
    font-size: 1rem;
    width: 45%;
    margin: 7px 0 0 0;
    padding: 7px;
}

/* change player name form */
.namesForm {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.formOutline {
    border: solid 3px black;
    background: white;
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p1FormName, .p2FormName {
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    height: 35px;
    width: 60%;
    margin: 15px;
}

.start, .closeForm {
    font-size: 1.3rem;
    margin: 15px 0 0 0;
    border: solid 2px black;
}

/* Game Board */
.boardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
}

.cell, .xCell, .oCell, .redCell {
    font-family: 'Fredoka One', cursive;
    -webkit-text-stroke: 3px black;
    font-size: 7rem;
    text-align: center;
    border: none;
    width: 150px;
    height: 150px;
    background-color: #fff;
    flex: 1 1 33%;
}

.xCell {
    color: #BDD7EE;
}

.oCell {
    color: #C5E0B4;
}

.redCell {
    color: #e28787;
}

/* hashtag board styling */
div.boardContainer button:nth-child(5) {
    border: solid 4px black;
}

div.boardContainer button:nth-child(4), div.boardContainer button:nth-child(6) {
    border-top: solid 4px black;
    border-bottom: solid 4px black;
}

div.boardContainer button:nth-child(2), div.boardContainer button:nth-child(8) {
    border-left: solid 4px black;
    border-right: solid 4px black;
}

/* Responsive for Smaller Screens */
@media (max-width: 700px) {

    h1 {
        width: 80%;
        padding: 10px 0;
        margin: 0px;
        font-size: 4rem;
    }

    .bodyContainer {
        width: 80%;
        height: auto;
        padding: 10px;
    }
    
    .playersContainer {
        width: 40%;
        height: auto;
        padding: 0 0 20px;
    }
    
    .player1, .player2, .display {
        text-align: center;
        width: 100%;
        height: 60px;
        padding: 7px;
    }

    .display {
        padding: 0 0 10px;
    }

    .boardContainer {
        width: 75%;
        height: 75%;
    }

    .blockClick {
        width: 75%;
        height: 75%;
    }

    .cell, .xCell, .oCell {
        font-size: 4rem;
        width: 75px;
        height: 75px;
        padding: 0;
    }
}